@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter;
}
body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0F2027, #203A43, #2C5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.banner{
    position: fixed;
    padding-left: 10%;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    z-index: -1;
    display: flex;
    justify-content: center;
    /* background:rgb(34, 29, 29); */
    /* background: greenyellow; */
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0F2027, #203A43, #2C5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   
}
.title{
    font-size: 42px;
    font-weight: 800;
    color: whitesmoke;
    z-index: 999;
}
.tag{
    color: green;
    z-index: 999;
}
.fa-angle-double-right{
    vertical-align: middle;
    
    
}


.social{
    display: flex;
    flex-direction: row;
    
    margin-top: 12px;
    color: white;
}
.social a:visited{
    color: white;
}
.social .fab{
    margin-right: 12px;
}
.fab{
    font-size: 1.5rem;
    
}


.profile{
    margin-top: 70vh;
    width: 60vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    float: right;
}

.tile{
   
    margin: 8px;
    
    z-index: 100;
}

a{
    color: white;
}


.period {
    font-size: 14px;
}

.job-title{
    font-size: 16px;
    font-weight: bold;
}
.company-title{
    font-size: 14px;
    font-family: "EB Garamond", serif;
}

code {
    font-family: Consolas, "Courier New", monospace;
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 90%;
}

.language-tag {
    display: inline-block;
    font-family: Consolas, "Courier New", monospace;
    background-color: #4a90e2;
    color: #ffffff;
    padding: 2px 8px;
    margin: 2px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 4px;
}

.timeline{

    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 32px;
    margin-bottom: 64px;
}
.timeline-item {
    align-self: flex-end;
    position: relative;
    width: 50%;
    padding: 32px;
}

.timeline-item::before{
    content: "";
    background-color: #dbdbdb;
    display: block;
    width: .1em;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.timeline-item:nth-child(2n) {
    align-self: flex-start;
    margin-left: 0;
    text-align: end;
    margin-right: 2em;
}

.timeline-item:nth-child(2n)::before{
    right: -.1em;
    left: auto;
}

.marker {
    position: absolute;
    background: #eb3939;
    border: .1em solid #eb3939;
    border-radius: 100%;
    content: "";
    display: block;
    height: .8em;
    left: -.35em;
    top: 2.3rem;
    width: .8em;
}

.timeline-item:nth-child(2n) .marker {
    left: auto;
    right: -.45em;
}

.green{
    background: #33e03f;
    border: #33e03f;
}






.proj{
    width: 70%;
    text-align: left;
    font-size: 32px;
    color: whitesmoke;
    font-weight: 200;
    padding-bottom: 16px;
    border-bottom: 2px whitesmoke solid;
    
}

.p-item{
    margin: auto;
    width: 90%;
    height: 50vh;
    background-color: #203A43;
    font-size: 16px;
    padding: 16px;
}
.p-item h4{
    text-align: center;
    padding: 16px;
}

.p-item a{
    margin-left: ;
    color: beige;
}

.p-item .fas{
    font-size: 12px;
}

.p-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}




@media screen and (max-width: 1024px) {

    .banner{
        position: relative;
    }

    .profile{
        margin-top: -70px;
        width: 100vw;
    }
    


}
